.body{
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color:#FFFFFFFF ;
}

:root{
    --background-color: #FFFFFF;
    --text-color: #434455;
    --brand-color: #2E2F42;
    --logo-color: #4d5ae5;
    --background-color-potfolio: #F4F4FD;
    --icon-grey: #8E8F99;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.link{
    text-decoration: none;
}

.span-studio{
    color: #2e2f42;
}
.list{
    list-style: none;
    
}

.link-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
position: relative;
color: #404bbf;
    
}


.link-nav::after{
    content: '';
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
background-color: #404bbf;
border-radius: 2px;
}

.link-nav:hover{
    color:#404bbf ;
}

.link-nav:focus{
    color: #404bbf;
}

.address{
    font-style: normal;

}

.contacts-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.contacts-link:hover{
  color: #404bbf;
}

.contacts-link:focus{
    color: #404bbf;
}

.section-one{
    background-color: #2e2f42 ;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-picture.jpeg');
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-one-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff ;
    max-width: 496px;
}

.order-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover{
    background-color: #404bbf;
}
.order-button:focus{
    background-color: #404bbf;
}

.mini-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.section-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.doing{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42 ;
    margin-bottom: 72px;
}

.section-four{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize ;
    color: #2e2f42;
    margin-bottom: 72px;
}

.names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.job-name{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;


}

.footer{
    background-color: #2e2f42;
    padding: 100px 0 ;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.span-footer{
    color: #f4f4f4fd;

}

.footer-parag{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.buttonsp{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}

.buttonsp:hover,
.buttonsp:focus{
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
   
.list-names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
}

.porto-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-p{
    background-color: #2e2f42;
}
.span-footer-p{
    color: #f4f4f4fd;
}

.img{
    display: block;
}

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}






.div-container{
    display: flex
}

.container{
    width: 1158px;
    margin: 0;
    padding: 0 15px;

}



.nav-menu{
    display: flex;
    align-items: center;
}

.menu-nav{
    display: flex;
    gap: 40px;
}

.address-list{
    display: flex;
    gap: 40px;
}

.section-two{
    padding: 120px 0;

}
.visually-hidden{
    visibility: hidden;

}

.titles-list{
    display: flex;
    gap: 24px;
    justify-content: center;

}

.first-element{
    width: 100%;
    min-width: 264px;
}

.section-three{
    padding-bottom: 120px;
}

.doing-list{
    display: flex;
    gap: 24px;
}
.photosc{
    width: calc((100% - 48px) / 3);
}

.people-list{
    display: flex;
    gap: 24px;
}

.mark{
    
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    min-width: 264px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 0px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-parag{
    padding: 32px 0;
}
.port-header{
    border-bottom: 1px solid #e7e9fc;
}

.nav-porto{
    display: flex;
}

.menu-nav-porto{
    display: flex;
    align-items: center;
}

.svg-second{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-left: 16px;

}

.social-media-list-element{
    width: 40px;
    height: 40px;

}

.social-media-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
    background-color: #404bbf;
}

.svg-fourth-section{
    fill: #f4f4fd ;
}

.section-five{
    padding-top: 120px;
    padding-bottom: 120px;

}

.fifth-section-title{
    font-size: 36px;
    line-height: 1.11;
    color:#2e2f42 ;
    margin-bottom: 72px;
    text-align: center;
}

.customers-list{
    display: flex;
    gap: 24px;
    height: 88px;
}

.customers-list-element{
    width: calc((100% - 120px) / 6);
}

.customers-link{
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.customers-link:focus,
.customers-link:hover {border-color: #404bbf;
    color: #404bbf;
}

.svg-fifth-sect{
    fill: currentColor;
}

.foot-div{
    display: flex;
align-items: baseline;
}

.logo-paragraph-div{
    margin-right: 120px;
}

.social-media-footer-paragraph{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--background-color);
margin-bottom: 16px;

}

.social-media-footer-list{
    display: flex;
    gap: 16px;
}

.social-media-elem-f{
    width: 40px;
    height: 40px;
}

.social-media-footer-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-footer-link:hover,
.social-media-footer-link:focus {background-color: #31d0aa;
}

.svg-footer{
    fill:#f4f4f4fd;
}

.portfolio-section{
    
    padding: 96px 0 120px 0;

}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;

}

.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.white-window{
    width: 408px;
        min-height: 584px;
        flex-shrink: 0;
        border-radius: 4px;
            background-color: #FCFCFC;
            box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}

.white-window-button{
    position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 1px solid rgba(0, 0, 0, 0.1) 
}

.white-window-button:hover,
.white-window-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;

}

.button-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icon:hover{
    fill: #ffffff;
}

.button-icon:focus{
    fill: #ffffff;
}

.modal-paragraph{
    margin-bottom: 16px;
    width: 360px;
    color:  #2E2F42;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.modal-form{
  
   width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
   
}

.modal-label{
    color: var(--icon-grey);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    
    margin-bottom: 4px;
    display: block;

}

.subscribe-div{
    margin-left: 79px;
}

.social-media-footer-par{
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:  #ffffff;
margin-bottom: 16px;
font-weight: 500;
}

.footer-form{
    display: flex;
    gap: 24px;
}

.footer-label{
    gap: 24px;
}

.footer-input{
    width: 264px;
    height: 40px;
    border-radius: 4px;
        border: 1px solid #ffffff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        background-color: transparent;
        margin-right: 24px;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        color: #ffffff;
}

.placeholder { 
    color: #ffffff;
}

.subscribe-button{
    min-width: 165px;
    display: flex;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        gap: 16px;
        border-radius: 4px;
        background: #4D5AE5;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        color: #ffffff;
        text-align: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        height: 40px;
        cursor: pointer;
        border: none;

}

.subscribe-svg{
    margin-left: 16px;
}

.div-form{
    margin-bottom: 8px;
}

.modal-label-nep{
    line-height: 1.17;
    font-size: 12px;
    color: #8e8f99;
   letter-spacing: 0.04em;
     margin-bottom: 4px;
    display: block;

}

.inp-svg{
    position: relative;
}

.modal-input-d{
    width: 100%;
    height: 40px;
    border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
     padding-left: 38px;
 outline: transparent;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-d:focus{
    border-color: #4D5AE5;
}

.svg-data{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-data:focus-within {
    fill: #4D5AE5;
}

.textarea-div{
    margin-bottom: 16px;
}

.modal-textarea{
    width: 100%;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
line-height: 1.17;
font-size: 12px;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
padding: 8px 16px;
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.checkbox-div{
    margin-bottom: 24px;
}

.input-buton:checked + .modal-send-label span:first-child {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;

}

.modal-send-label{
    display: block;
    font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.checked-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
}
.policy{
    color: #4d5ae5;
}


.send-form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
 background-color: var(--logo-color);
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
