.body{
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color:#FFFFFFFF ;
}

.root{
    --background-color: #FFFFFF;
    --text-color: #434455;
    --brand-color: #2E2F42;
    --logo-color: #4d5ae5;
    --background-color-potfolio: #F4F4FD;
    --icon-grey: #8E8F99;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.link{
    text-decoration: none;
}

.span-studio{
    color: #2e2f42;
}
.list{
    list-style: none;
    
}

.link-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link-nav:hover{
    color:#404bbf ;
}

.link-nav:focus{
    color: #404bbf;
}

.address{
    font-style: normal;

}

.contacts-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.contacts-link:hover{
  color: #404bbf;
}

.contacts-link:focus{
    color: #404bbf;
}

.section-one{
    background-color: #2e2f42 ;
}

.section-one-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff ;
}

.order-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.order-button:hover{
    background-color: #404bbf;
}
.order-button:focus{
    background-color: #404bbf;
}

.mini-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.section-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.doing{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42 ;
}

.section-four{
    background-color: #F4F4FD;
}

.team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize ;
    color: #2e2f42;
}

.names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.job-name{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.footer{
    background-color: #2e2f42;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span-footer{
    color: #f4f4f4fd;

}

.footer-parag{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.buttonsp{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}

.buttonsp:hover,
.buttonsp:focus{
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
   
.list-names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
}

.porto-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}